Output/In[[:space:]]One[[:space:]]Weekend/Final.ppm filter=lfs diff=lfs merge=lfs -text
Output/The[[:space:]]Next[[:space:]]Week/MotionBlur.ppm filter=lfs diff=lfs merge=lfs -text
Output/The[[:space:]]Next[[:space:]]Week/PerlinNoice.ppm filter=lfs diff=lfs merge=lfs -text
Output/The[[:space:]]Next[[:space:]]Week/Texture.ppm filter=lfs diff=lfs merge=lfs -text
Output/The[[:space:]]Next[[:space:]]Week/CornellBox.ppm filter=lfs diff=lfs merge=lfs -text
Output/The[[:space:]]Next[[:space:]]Week/Final.ppm filter=lfs diff=lfs merge=lfs -text
Output/The[[:space:]]Next[[:space:]]Week/CornellSmoke.ppm filter=lfs diff=lfs merge=lfs -text
Output/The[[:space:]]Next[[:space:]]Week/SampleLight.ppm filter=lfs diff=lfs merge=lfs -text
